<ion-header>
  <ion-toolbar class="people" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="nav-pages">
      <ion-title>MANAGER PEOPLE</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeXs="8" sizeXl="3">
        <app-person *ngFor="let person of getPeople()" [person]="person" (onEdit)="onEditPerson($event)" (onDelete)="onDeletePerson($event)"></app-person>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-segment>
  <ion-segment-button [routerLink]="'/home'" value="home">
    <ion-icon name="home" class="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button (click)="onNewPerson()" icon-only>
    <ion-icon name="person-add" color="primary" style="zoom:2"></ion-icon>
  </ion-segment-button>
</ion-segment>
