<ion-header>
  <ion-toolbar class="task" color="dark">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div id="nav-pages">
    <ion-title>MANAGER TASKS</ion-title>
    </div> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>   
    <ion-item-sliding *ngFor="let task of getTasks()">
       <app-task  [task]="task" (onEdit)="onEditTask($event)" (onDelete)="onDeleteTask($event)"></app-task>
    </ion-item-sliding>  
  </ion-list>
</ion-content>

<ion-segment>
  <ion-segment-button [routerDirection]="'root'" [routerLink]="'/home'" value="home">
    <ion-icon name="home" class="home"></ion-icon>
  </ion-segment-button>
  <ion-segment-button (click)="onNewTask()" icon-only>
    <ion-icon name="add-circle" color="primary"></ion-icon>
  </ion-segment-button>
</ion-segment>
