<ion-header>
  <ion-toolbar>
    <ion-title>Datos de la Asignación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Selecciona la persona
      </ion-label>
      <ion-input type="text" placeholder="Selecciona persona" formControlName="personId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Selecciona la tarea
      </ion-label>
      <ion-input type="text" placeholder="Selecciona tarea" formControlName="taskId"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Selecciona la fecha
      </ion-label>
      <ion-input type="text" placeholder="Introduce fecha" formControlName="createdAt"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Selecciona la hora de comienzo
      </ion-label>
      <ion-input type="text" placeholder="Introduce hora" formControlName="dateTime"></ion-input>
    </ion-item>
    <ion-title>
      <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
    </ion-title> 
  </form>
</ion-content>

