 <ion-content>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="light" size="small">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-fab-button>
      <ion-fab-list>
        <ion-fab-button fill="clear" color="success" (click)="onEditClick()" color="success">
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button fill="clear" color="danger" (click)="onDeleteClick()" color="danger">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ion-content>

<ion-card>
  <ion-card-header></ion-card-header>
  <ion-card-content>
    <ion-avatar>
      <img *ngIf="!person.picture" alt="Silhouette of a person's head"
        src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      <img *ngIf="person.picture" alt="Person picture" [src]="person.picture" />
    </ion-avatar>
    <ion-card-subtitle>{{person.surname}}, {{person.name}}</ion-card-subtitle>
    <ion-card-title>{{ person.nickname }}</ion-card-title>
  </ion-card-content>
</ion-card>
