<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'home.assign' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{ 'button.close' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <app-person-selectable formControlName="personId" ></app-person-selectable>
    <app-task-selectable formControlName="taskId"></app-task-selectable>
    <!-- <app-date-time-selectable formControlName="dateTime"></app-date-time-selectable> -->

    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>

    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime doneText="Aceptar" cancelText="Cancelar" showDefaultButtons="true" name="datetime" id="datetime"
          (ionChange)="onChangeDateTime($event)">
        </ion-datetime>
      </ng-template>
    </ion-modal>

    <ion-button [disabled]="!form.valid" type="submit">{{(mode=="Edit"?"button.edit":"button.new") | translate}}</ion-button>
  </form> 

</ion-content>
