<ion-header>
  <ion-toolbar>
    <ion-title>Asignación de tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <app-person-selectable formControlName="personId" ></app-person-selectable>
    <app-task-selectable formControlName="taskId"></app-task-selectable>
    <ion-item>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
    </ion-item>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime doneText="Aceptar" cancelText="Cancelar" showDefaultButtons="true" name="dateTime" id="datetime"
          (ionChange)="onChangeDateTime($event)">
        </ion-datetime>
      </ng-template>
    </ion-modal>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>